<div class="topspace">

    <h2 class="section-title"><span>Dernières nouvelles</span></h2>
    {{ $pages := where .Pages "Section" "actu" }}
    {{ $events := where .Pages "Section" "events" }}
    <div class="tile is-ancestor">
      <div class="tile is-parent is-vertical">
        <div class="tile is-parent">
          {{ range first 1 $pages }}
          <div class="tile is-child box">
            <h2>{{ .Title }}</h2>
            <p>{{ .Summary }}</p>
          </div>
          {{ end }}
        </div>
      </div> <!-- /news tile -->
      <div class="tile is-parent is-vertical">
        <div class="tile is-parent">
          {{ range first 1 $events }}
          <div class="tile is-child box">
            <h2>{{ .Title }}</h2>
            <p>{{ .Summary }}</p>
          </div>
          {{ end }}
        </div>
      </div><!-- /events tile -->
    </div> <!-- /ancestor -->
  
  </div> <!-- / section -->