{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main id="main">

	<div class="container">

		<div class="topspace columns is-centered">

 				<article class="post column is-two-thirds">
					<header class="entry-header">
             <h1 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h1>
             <div class="entry-meta">
                <span class="posted-on">
                  le 
                  <time class="entry-date published" date="{{ .Date }}">
                    {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
                  </time>
                  <p class="entry-author">par {{ .Param "author" }}</p>
                </span>
              </div>
					</header>
					<div class="entry-content">
						{{ .Content }}
					</div>
				</article><!-- #post-## -->
			</div>
	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
