{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main id="main">

	<div class="container is-fluid">
    <h2 class="section-title">{{ .Title }}</h2>
      <div class="columns is-multiline is-centered is-variable is-4"> 
        {{ range .Paginator.Pages }}
          <div class="column is-3 box spaced">
              <h2>{{ .Title }}</h2>
              <p>
                {{ .Summary }}
              </p>
          </div>
          {{ end }}
      </div>

		{{ partial "pagination.html" . }}


	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
